.matrix {
    position: relative;
    text-align: center;
}

.matrix tr .left {
    padding-right: 15px;
}

.matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid;
    width: 6px;
    height: 100%;
}

.matrix:before {
    left: -6px;
    border-right: 0;
}

.matrix:after {
    right: -6px;
    border-left: 0;
}